body, html {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

img, object {
	width: 100%;
}

.red { background-color: #ea3f24 }
.orange { background-color: #ef892f }
.yellow { background-color: #fffc49 }
.green { background-color: #397b1a }
.blue { background-color: #002df7 }
.indigo { background-color: #42187e }
.violet { background-color: #8532cd }

.stripe { position: absolute; height: 15.5%; width: 100%; z-index: -50 }

.red.stripe {	top: 0; left: 0 }
.orange.stripe { top: 15%; left: 0 }
.yellow.stripe { top: 30%; left: 0 }
.green.stripe { top: 45%; left: 0 }
.blue.stripe { top: 60%; left: 0 }
.indigo.stripe { top: 75%; left: 0 }
.violet.stripe { top: 90%; left: 0; height: 10.5% }