[submodule "penumbra"]
	path = penumbra
	url = git@github.com:upright-netizen/Penumbra.git
[submodule "tryout"]
	path = tryout
	url = https://jared-stilwell@github.com/upright-netizen/tryout.git
[submodule "jquery-renewal"]
	path = jquery-renewal
	url = git@github.com:nathanstilwell/jquery-renewal.git
[submodule "gta"]
	path = gta
	url = git@github.com:upright-netizen/Gilt-Tech-Academy.git
[submodule "halo"]
	path = halo
	url = https://github.com/nathanstilwell/halo-4-countdown.git
[submodule "core-lab"]
	path = core-lab
	url = git@github.com:nathanstilwell/core-lab.git
