/* Webkit Keyframes */
@-webkit-keyframes bounce {
	0% {
		-webkit-transform: rotate(0deg) translateY(0%);
	}
	
	25% {
		-webkit-transform: rotate(-15deg);
	}
	
	50% {
		-webkit-transform: rotate(0deg) translateY(-10%);
	}
	
	75% {
		-webkit-transform: rotate(15deg);
	}
	
	100% {
		-webkit-transform: rotate(0deg) translateY(0%);
	}
}

@-webkit-keyframes slide {
	0% {
		left: 0%;
	}
	
	25% {
		left: -10%;
	}
	
	50% {
		left: 0%;
	}
	
	75% {
		left: 10%;
	}
	
	100% {
		left: 0%;
	}
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	
	100% {
		-webkit-transform: rotate(1080deg);
	}
}

/* Mozilla Keyframes */
@-moz-keyframes bounce {
	0% {
		-moz-transform: rotate(0deg) translateY(0%);
	}
	
	25% {
		-moz-transform: rotate(-15deg);
	}
	
	50% {
		-moz-transform: rotate(0deg) translateY(-10%);
	}
	
	75% {
		-moz-transform: rotate(15deg);
	}
	
	100% {
		-moz-transform: rotate(0deg) translateY(0%);
	}
}

@-moz-keyframes slide {
	0% {
		left: 0%;
	}
	
	25% {
		left: -10%;
	}
	
	50% {
		left: 0%;
	}
	
	75% {
		left: 10%;
	}
	
	100% {
		left: 0%;
	}
}

@-moz-keyframes spin {
	0% {
		-moz-transform: rotate(0deg);
	}
	
	100% {
		-moz-transform: rotate(1080deg);
	}
}

.head:focus, .head:hover {
	-webkit-animation: spin 2.5s;
	-moz-animation: spin 2.5s;
}

.head {
	position: relative;
	padding-top: 15%;
	margin: 0 auto;
	width: 20%;
	z-index: 0;
	
	-webkit-animation: slide 2s infinite;
	-moz-animation: slide 2s infinite;
}

.dancing {
	-webkit-animation: bounce .5s infinite;
	-moz-animation: bounce .5s infinite;
}


