body {
  /*background-color: #d32719;*/
  /* background-color: #ee261b; */
  margin: 0;
  padding: 0;
}

.header {
  background-color: black;
  color: white;
  padding: 20px;
}

.title {
  font-family: 'Futura Medium', sans-serif;
  font-size: 30px;
  margin: 0;
}

.logo-frame {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding; 50px;
}

.logo-content {
  align-items: center;
  flex: 1 100%;
  text-align: center;
}

.label {
  font-size: 20px;
}

.logo {
  font-family: 'Futura Medium', sans-serif;
  font-size: 40vh;
  font-weight: bold;
}

.logo .n {
  font-size: 1.1em;
}

.red {
  background-color: #CC2900;
}

.blue {
  background-color: #005FCC;
}

.green {
  background-color: #75b837;
}

.pink {
  background-color: #ed0073;
}

.aqua {
  background-color: #10b9c3;
}

.yellow {
  background-color: #debd02;
}

.orange {
  background-color: #f25b14;
}

.purple {
  background-color: #a866a6;
}